<div class="pf-c-page" id="redirect-after-navigation">
  <a class="pf-c-skip-to-content pf-c-button pf-m-primary" href="#main-content">Skip to content</a>
  <header class="pf-c-page__header">
    <div class="pf-c-page__header-brand">
      <a href="#" class="pf-c-page__header-brand-link">
        <img class="pf-c-brand" src="/assets/images/PF-Masthead-Logo.svg" alt="PatternFly logo" />
      </a>
    </div>
  </header>
  <main class="pf-c-page__main" tabindex="-1" id="main-content">
    <router-outlet></router-outlet>
  </main>
</div>