<section class="pf-c-page__main-section">
  <div class="pf-c-page__main-body">
    <div class="pf-l-gallery pf-m-gutter">
      <div class="pf-l-gallery__item pf-c-card pf-m-display-lg pf-m-hoverable" (click)=startNewApplication()>
        <div class="pf-c-card__title">New</div>
        <div class="pf-c-card__body">start a new application</div>
      </div>

      <div class="pf-l-gallery__item pf-c-card pf-m-display-lg pf-m-hoverable">
        <div class="pf-c-card__title">Resume</div>
        <div class="pf-c-card__body">resume an existing application</div>
      </div>
    </div>
  </div>
</section>